@font-face { font-family: 'LitteMissPriss'; src: url('../fonts/LittleMissPriss.ttf') format('truetype');}
*{
  transition: .5s ease-in-out;
}
*::selection{
  background: #4e4e4e;
  color:#fff;
}
*::-moz-selection{
  background: #4e4e4e;
  color:#fff;
}
*::-webkit-selection{
  background: #4e4e4e;
  color:#fff;
}
*::-ms-selection{
  background: #4e4e4e;
  color:#fff;
}
/* SELECTION*/
a{
  color: #333333;
  font-weight: bold;
}
a:hover{
  color: #333333;
}
html{
  border-top: 2px solid #4e4e4e;
  min-height: 100%;
}
html, body{
  font-family:  'LittleMissPriss', cursive;
  font-size: 14px;
  background-color: #fafafa;
  color: #4e4e4e;
  width: 100%;
}
.row{
  margin: 0;
  padding: 20px;
}
/* END CSS RESET*/

/*======================================================================*/

.title-section{
  font-weight: bold;
  font-size: 2.3em;
}
.desk{
  font-size: 1.4em;
  word-wrap: break-word;
}
.container{
  width: 90%;
  margin: auto;
}
.line-break{
  width: 50%;
  height: 5px;
  border-radius: 100% 0;
  background: #4e4e4e;
  margin: 30px auto;
}
/* GLOBAL USE*/


/*PROFILE DESK SECTION*/
a[href*="#coll"]{ position: relative;color: #4e4e4e;}
a[href*="#coll"]:hover{ text-decoration: none;}
.barWrapper{
  width: 20px;
  height: 20px;
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
}
.bar {
  position: absolute;
  top: 50% ;left: 0;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background: #4e4e4e;
}
@keyframes bar1 {
  100%{transform: translateY(-50%) rotate(90deg);}
}
@keyframes bar1Changed {
  0%{transform: rotate(90deg);}
  100%{transform: rotate(180deg);}
}
.collapsed .bar1{
  animation: bar1 .5s forwards ease-in-out;
}
 .bar1{
  animation-delay: .25s;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation: bar1Changed .5s forwards ease-in-out;
}
/* END BAR1 */

@keyframes bar2 {
  0%{transform: translateY(-50%) rotate(0deg);}
}
@keyframes bar2Changed {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(180deg);}
}
.collapsed  .bar2{
  animation: bar2 .5s ease-in-out;;
}
.bar2{
  animation: bar2Changed .5s forwards ease-in-out;
}

.desk a{
  font-size: 1.4em;
}
a[href*="github"]{color: blueviolet;}
a[href*="note"]{color: crimson;}
a[href*="insta"]{color: #b8cd0b;}
a[href*="@gmail"]{color: #0e87b4;}
.fancy span:hover{top:3px;}
.fancy span:nth-child(n+6){text-shadow:#cbc4c4 -3px 3px 0;}



/*PHOTO SECTION*/
#myPhoto{
  position: static;
  height: 100%;
}
#pp{
  width: 90%;
  height: 300px;
  max-height: 100%;
  margin: auto;
  background: url('../img/smilling-at-u.png') center top no-repeat;
  background-size: auto 100%;
  background-clip: border-box;
  border-radius: 50%;
}
footer{
  margin: 10px auto auto auto;
  width:90%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 50px;
}
/*================= RESPONSIVE MODE ================*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  html, body{font-size: 16px;}
  #myPhoto{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
  }
  #pp{
    height: 50%;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #pp{
    height: 80%;
  }
  footer{
    text-align: right;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
