@import url('https://fonts.googleapis.com/css?family=The+Girl+Next+Door');

*{
  transition: .5s ease-in-out;
}
*::selection{
  background: #4e4e4e;
  color:#fff;
}
*::-moz-selection{
  background: #4e4e4e;
  color:#fff;
}
*::-webkit-selection{
  background: #4e4e4e;
  color:#fff;
}
*::-ms-selection{
  background: #4e4e4e;
  color:#fff;
}
/* SELECTION*/
a{
  color: #333333;
  font-weight: bold;
}
a:hover{
  color: #333333;
}
a::after{
  content: '';
  width: 15px;
  height: 15px;
  margin-left: 5px;
  display: inline-block;
  background: url('../img/icons/logout-sketch.png') no-repeat;
  background-size: 15px 15px;
}
html, body{
  font-family: 'The Girl Next Door', 'Roboto Mono', cursive;
  /*font-family: 'Roboto Mono', 'Roboto Mono', cursive;*/
  font-size: 14px;
  background-color: #f9f9f9;
  color: #4e4e4e;
  width: 100%;
  word-wrap: break-word;
}
.row{
  margin: 0;
}
/* END CSS RESET*/

/*======================================================================*/

/*.btn{ overflow: hidden;font-size: 1.5em;cursor: pointer;position: relative;}*/
.title-section{
  font-weight: bold;
  font-size: 2.1em;
}
.desk{
  font-size: 1.2em;
}
.container{
  width: 90%;
  margin: auto;
}
.line-break{
  width: 50%;
  height: 5px;
  border-radius: 100% 0;
  background: #4e4e4e;
  margin: 30px auto;
}
/* GLOBAL USE*/

.site-wrapper{
  padding: 40px;
}

/*PROFILE DESK SECTION*/
.desk a{
  font-size: 1.4em;
}
a[href*="github"]{color: blueviolet;}
a[href*="ga"]{color: crimson;}
a[href*="insta"]{color: #b8cd0b;}
a[href*="@gmail"]{color: #0e87b4;}
.fancy span:hover{top:3px}
.fancy span:nth-child(n+6){text-shadow:#cbc4c4 -3px 3px 0}


/*PHOTO SECTION*/
#myPhoto{
  position: static;
  height: 100%;
  padding-bottom: 50px;
}
#pp{
  width: 90%;
  height: 300px;
  max-height: 100%;
  background: url('../img/smilling-at-u.png') center top no-repeat;
  background-size: auto 100%;
  background-clip: border-box;
  border-radius: 50%;
}
footer{
  margin-top: 10px;
  width:90%;
  text-align: center;
  font-weight: bold;
}

/*================= RESPONSIVE MODE ================*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  html, body{font-size: 16px;}
  #myPhoto{
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
  }
  #pp{
    height: 50%;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #pp{
    height: 80%;
    max-height: 100%;
  }
  footer{
    text-align: right;
  }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
