@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway');

*{
  margin:0;padding:0;
  box-sizing: border-box;
  transition: .5s ease-in-out;
}
*::selection{
  background: #fff;
  color:#4e4e4e;
}
*::-moz-selection{
  background: #fff;
  color:#4e4e4e;
}
*::-webkit-selection{
  background: #fff;
  color:#4e4e4e;
}
*::-ms-selection{
  background: #fff;
  color:#4e4e4e;
}
/* SELECTION*/
ul,ol{
  list-style: none;
}
a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
html,body{
  font-family: 'Josefin sans',cursive;
  line-height: 1;
  background-color: #7caf00;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* END CSS RESET*/

/*======================================================================*/

.mix-blend{z-index: 1}
.mix-blend::after{
  content: '';
  display: block;
  z-index: -1;
  position:absolute;
  bottom:3px;left:0;
  width:100%;
  height: 10px;
  transition:.3s ease-in-out;
}
.mix-blend:hover::after{height:3px;transition:.3s ease-in-out}
.btn{ overflow: hidden;font-size: 1.5em;cursor: pointer;position: relative;}
.title-section{
  font-weight: normal;
  font-size: 2.5em;
}
.desk{
  font-size: 1.3em;
}
.container{
  width: 90%;
  margin: auto;
}
.line-break{
  width: 50vw;
  border: 2px dashed #4e4e4e;
  margin: 30px auto;
}
/* GLOBAL USE*/

.site-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.site-wrapper > section{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* SITE WRAPPER */


.single-slide{
  position: absolute;
  left: 100%;
  top: 0px;
}
@keyframes slideIn {
  100%{ left: 0;}
}
.slideToLeft{
  left: 100%;
  animation: slideIn .5s ease-in-out forwards;
}
.slideToRight{
  left: -100%;
  animation: slideIn .5s ease-in-out forwards;
}
/* END SLIDE IN */
@keyframes slideOutLeft {
  100%{left: -100%;}
}
.slideOutLeft{
  animation: slideOutLeft .5s ease-in-out forwards;
}
/* END SLIDE OUT TO LEFT */
@keyframes slideOutRight {
  100%{left: 100%;}
}
.slideOutRight{
  animation: slideOutRight .5s ease-in-out forwards;
}
/* END SLIDE OUT TO RIGHT */

.control{
  z-index: 999;
  font-size: 3em;
  padding: 10px;
  margin: 10px;
  letter-spacing: -10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.prev{
  left: 0;
}
.next{
  right: 0;
}
/* SLIDING*/

#home .container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: nowrap row;
}
#home .left-side  .big-hero{
  display: inline-block;
  border-radius: 10px;
  font-size: 10em;
  font-family: 'raleway';
  padding: 10px;
  background-color: white;
  color: #7caf00;
}
#home .right-side{
  margin-left: 5%;
}
#home .title-section{
  letter-spacing: 5px;
}
#home .desk{
  margin-top: 10px;
}
a[href*="github"].mix-blend::after{ background: blueviolet;}
a[href*="000"].mix-blend::after{ background: crimson;}

/* MIX BLEND BACKGROUND HOVER */
/* END HOME SECTION*/

#contact{
  background: crimson;
}
#contact .container{
  display: flex;
  flex-flow: nowrap column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#contact p{
  margin-bottom: 20px;
}
/* END CONTACT SECTION*/

blockquote{
  display: inline-block;
  border-left: 5px solid #fff;
  margin: 1em;
  padding: 1.5em 1em;
  font-size: 1.5em;
  font-style: italic;
}
blockquote p {
  display: inline-block;
}
blockquote p::before{
  content: 'Sebaik-baik manusia adalah yang paling bermanfaat bagi manusia';
}
blockquote::before{
  display: inline-block;
  content: open-quote;
  font-size: 2.5em;
}
blockquote::after{
  display: inline-block;
  content: close-quote;
  font-size: 2.5em;
}
/* END QUOTE*/
#footer{
  background: blueviolet;
  text-align: center;
}
#footer .container{
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: nowrap column;
}
/* END  FOOTER SECTION*/



/*================= RESPONSIVE MODE ================*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {
  body{
    font-size:11px;
  }
  #home .left-side .big-hero{
    font-size: 5em;
  }
}
@media only screen and (max-width : 760px) {
  #home .container{
    flex-flow: nowrap column;
  }
  #home .container .right-side{
    margin-top: 30px;
  }
  .control{
    top: 0 ;
    transform: translateY(0);
  }
}
@media only screen and (max-width : 1080px) {
  body{
    font-size:14px;
  }
}
